<%- include("header") -%>

<h2>This is the about page</h2>

<p>This app use node.js mongodb atlas heroku bootstrap ejs. It has header and footer about and list partial templates. When you create list name into the route it will take you to that list or create it if one does not already exist. It stores the titles and items of the lists using a database so they are accessible in future. </p>

<%- include("footer") -%>
